.container {
	display: grid;
	grid-template-columns: 1fr 450px 450px 1fr;
	grid-template-rows: 1fr 200px 200px 100px 1fr;
	}

.text-a {
	grid-column: 2 / span 2;
	grid-row: 2 / 3;
	/* align-self: end; */
}

.text-b {
	grid-column: 2 / span 2;
	grid-row: 4 / 5;
}

.img-left{
	grid-column: 2 / 3;
	grid-row: 3 / 4;
}

.img-right{
	grid-column: 3 / 4;
	grid-row: 3 / 4;
}

.item-scale{
	grid-column: 2 / span 2;
	grid-row: 5 / 6;
}


@import "lesshat";

.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #dbdbdb;
  font-size: 24px;
  height: 24px;
  width: 100px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  /* text-shadow: 0px 1px 0 #cccccc; */
  zoom: 150%;
}
  
.star-ratings-css-top {
    color: #ffd314;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  
.star-ratings-css-bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }





